* {
  box-sizing: border-box;
}

header {
  background-color: #CF2B2B;
  display: flex;
  flex-direction: column;
  color: white;
  height: 92px;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: none;
  position: sticky;
}

header * {
  margin-left: 21px;
  text-shadow: 1px 1px 1px rgba(84, 84, 84, 0.5);
}

header .title{
  font-family: 'Righteous', cursive;
  font-size: 44px;
}

header .subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 92px;
  background-color: white;
  box-shadow: 0px -1px 4px 1px rgba(100, 100, 100, 0.1);
}

.btn-fechar-pedido {
  background-color: #CBCBCB;
  border: none;
  border-radius: 50px;
  width: 364px;
  height: 61px;
  margin: 15px 25px;
  padding: 0 70px;
  font-size: 20px;
  letter-spacing: 0.018em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(84, 84, 84, 0.2);
}

.content {
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
  height: calc(100vh - 92px - 92px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 21px 0 0 0;
}

.secao {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
}

.category-title {
  font-family: 'Righteous', cursive;
  font-size: 26px;
  margin-left: 19px;
}

.carrosel {
  height: 216px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin: 17px 0;
  margin-left: 19px;
}

.item {
  background-color: white;
  /* padding: 15px; */
  border-radius: 9px;
  margin-right: 16px;
  padding-bottom: 16px;
  height: 216px;
  width: 172px;
  max-height: 216px;
  max-width: 172px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item * {
  margin: 0 14px;
  margin-top: 5px;
}

.item img {
  width: 144px;
  height: 87px;
  margin: 18px 14px 8px 14px;
}

.item .titulo {
  font-weight: 700;
  margin-top: 0px;
  font-size: 16px;
  line-height: 19px;
}

.item .descricao {
  font-weight: 300;
  margin-top: 4px;
  font-size: 15px;
  line-height: 18px;
  color: #7e7e7e;
}

.item .preco {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.carrosel .selecionado {
  box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.item .end {
  margin: 0;
  display: flex;
  justify-content: space-between;

}

.item .selected-checkmark {
  border-radius: 50%;
  color: white;
  background-color: #32B72F;
}

.esconder {
  display: none;
}

.tudo-selecionado {
  background-color: #32B72F;
}

ion-icon {
  --ionicon-stroke-width: 44px;
}